<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAAxYDzo9jDUKwXKwcPAZAzAAAAAACAAAAAAADZgAAwAAAABAAAADXxSrkCSQOOyLchrLYB4cpAAAAAASAAACgAAAAEAAAAASYes396Tuq0dxHs+YZxzIoAAAACGDzfH8ZmCnWTCns0lf8//nr6OWD3PbSn1hHzO4ZgDYAQ3SN/MkoGBQAAADTBXPL5W80Q++q+eL1SJ8NLmeLww==" />
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org" />
  </packageSources>
</configuration>