<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kraken.SharePoint.Cloud.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kraken.SharePoint.Cloud.Properties.Settings>
            <setting name="Kraken_SharePoint_Cloud_ListsWS_Lists" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_WebsWS_Webs" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/Webs.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_SitesWS_Sites" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/Sites.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_SiteDataWS_SiteData" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/SiteData.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_SearchWS_QueryService" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/Search.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_SPSearchWS_QueryService" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/SPSearch.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_ExcelServiceWS_ExcelService" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/ExcelService.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_WebPartPagesWS_WebPartPagesWebService" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/WebPartPages.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_UserProfileServiceWS_UserProfileService" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/UserProfileService.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_ViewsWS_Views" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/Views.asmx</value>
            </setting>
            <setting name="Kraken_SharePoint_Cloud_AuthenticationWS_Authentication" serializeAs="String">
                <value>http://portal.red.lab.colossusconsulting.com/_vti_bin/Authentication.asmx</value>
            </setting>
        </Kraken.SharePoint.Cloud.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ListsSoap"/>
                <binding name="WebsSoap"/>
                <binding name="ViewsSoap"/>
                <binding name="UserGroupSoap"/>
                <binding name="UserProfileServiceSoap"/>
                <binding name="SitesSoap"/>
                <binding name="BasicHttpBinding_IClaimProviderWebService"/>
                <binding name="BasicHttpBinding_IClaimProviderWebService1">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_ICellStorages" messageEncoding="Mtom"/>
                <binding name="BasicHttpBinding_ICellStorages1" messageEncoding="Mtom"/>
                <binding name="BasicHttpBinding_ICellStorages2" messageEncoding="Mtom"/>
                <binding name="BasicHttpBinding_ICellStorages3" messageEncoding="Mtom"/>
                <binding name="BasicHttpBinding_ICellStorages4" messageEncoding="Mtom">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_ICellStorages11" messageEncoding="Mtom">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_ICellStorages21" messageEncoding="Mtom">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_ICellStorages31" messageEncoding="Mtom">
                    <security mode="Transport"/>
                </binding>
                <binding name="WebPartPagesWebServiceSoap"/>
                <binding name="ExcelServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/Lists.asmx" binding="basicHttpBinding" bindingConfiguration="ListsSoap" contract="Lists.ListsSoap" name="ListsSoap"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/Webs.asmx" binding="basicHttpBinding" bindingConfiguration="WebsSoap" contract="Webs.WebsSoap" name="WebsSoap"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/Views.asmx" binding="basicHttpBinding" bindingConfiguration="ViewsSoap" contract="Views.ViewsSoap" name="ViewsSoap"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/UserGroup.asmx" binding="basicHttpBinding" bindingConfiguration="UserGroupSoap" contract="UserGroup.UserGroupSoap" name="UserGroupSoap"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/UserProfileService.asmx" binding="basicHttpBinding" bindingConfiguration="UserProfileServiceSoap" contract="UserProfileService.UserProfileServiceSoap" name="UserProfileServiceSoap"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/Sites.asmx" binding="basicHttpBinding" bindingConfiguration="SitesSoap" contract="Sites.SitesSoap" name="SitesSoap"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/spclaimproviderwebservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaimProviderWebService" contract="SPClaimProviderWebServiceHTTP.IClaimProviderWebService" name="BasicHttpBinding_IClaimProviderWebService"/>
            <endpoint address="https://starport1.colossusconsulting.com/_vti_bin/spclaimproviderwebservice.https.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaimProviderWebService1" contract="SPClaimProviderWebServiceHTTPS.IClaimProviderWebService" name="BasicHttpBinding_IClaimProviderWebService1"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/CellStorage.svc/CellStorageService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICellStorages" contract="CellStorageHTTP.ICellStorages" name="BasicHttpBinding_ICellStorages"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/CellStorage.svc/CellStorageServiceBasic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICellStorages1" contract="CellStorageHTTP.ICellStorages" name="BasicHttpBinding_ICellStorages1"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/CellStorage.svc/CellStorageServiceDigest" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICellStorages2" contract="CellStorageHTTP.ICellStorages" name="BasicHttpBinding_ICellStorages2"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/CellStorage.svc/CellStorageServiceNtlm" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICellStorages3" contract="CellStorageHTTP.ICellStorages" name="BasicHttpBinding_ICellStorages3"/>
            <endpoint address="https://starport1.colossusconsulting.com/_vti_bin/cellstorage.https.svc/CellStorageService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICellStorages4" contract="CellStorageHTTPS.ICellStorages" name="BasicHttpBinding_ICellStorages4"/>
            <endpoint address="https://starport1.colossusconsulting.com/_vti_bin/cellstorage.https.svc/CellStorageServiceBasic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICellStorages11" contract="CellStorageHTTPS.ICellStorages" name="BasicHttpBinding_ICellStorages11"/>
            <endpoint address="https://starport1.colossusconsulting.com/_vti_bin/cellstorage.https.svc/CellStorageServiceDigest" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICellStorages21" contract="CellStorageHTTPS.ICellStorages" name="BasicHttpBinding_ICellStorages21"/>
            <endpoint address="https://starport1.colossusconsulting.com/_vti_bin/cellstorage.https.svc/CellStorageServiceNtlm" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICellStorages31" contract="CellStorageHTTPS.ICellStorages" name="BasicHttpBinding_ICellStorages31"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/WebPartPages.asmx" binding="basicHttpBinding" bindingConfiguration="WebPartPagesWebServiceSoap" contract="WebPartPages.WebPartPagesWebServiceSoap" name="WebPartPagesWebServiceSoap"/>
            <endpoint address="http://portal.red.lab.colossusconsulting.com/_vti_bin/ExcelService.asmx" binding="basicHttpBinding" bindingConfiguration="ExcelServiceSoap" contract="ExcelService.ExcelServiceSoap" name="ExcelServiceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
