<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kraken.DotNet.Core" version="0.2.8-alpha02" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.6518.1200" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net45" />
</packages>