<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kraken.DotNet.Core" version="0.2.8" targetFramework="net45" />
  <package id="Kraken.SPSandboxLibrary" version="0.2.7" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Office.Server" version="15.0.0" targetFramework="net45" />
  <package id="Microsoft.Office.Server.UserProfiles" version="15.0.0" targetFramework="net45" />
  <package id="Microsoft.SharePoint.ApplicationPages.Administration" version="15.0.4420.1017" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net45" />
  <package id="SharePoint" version="15.0.0" targetFramework="net45" />
  <package id="SharePoint.Portal" version="15.0.0" targetFramework="net45" />
  <package id="SharePoint.Security" version="15.0.0" targetFramework="net45" />
  <package id="SharePoint.Taxonomy" version="15.0.0" targetFramework="net45" />
</packages>