<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="External">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://provisioningapi.microsoftonline.com/ProvisioningWebService.svc"
          binding="wsHttpBinding" bindingConfiguration="External" contract="O365ProvisioningService.IProvisioningWebService"
          name="External">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
